# ==========================================
# Configurações de Ambiente (Base)
# ==========================================

# Porta da aplicação 
# (No Render/Railway a variável PORT é injetada automaticamente)
PORT=3333

# Chave secreta para assinatura dos Tokens JWT
JWT_SECRET="bairroAlertaSenha"

# ==========================================
# Configurações do Banco de Dados (Prisma)
# ==========================================

# Exemplo de String de Conexão com o NEON TECH (Serverless Postgres)
#DATABASE_URL="postgres://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require"

# Exemplo de String de Conexão com o RENDER (PostgreSQL Gerenciado)
#DATABASE_URL="postgres://[user]:[password]@[render_internal_or_external_hostname]/[dbname]"

# Exemplo Local (Docker ou Instalação nativa)
DATABASE_URL="postgresql://neondb_owner:npg_lpuQSWbT4rY0@ep-steep-wind-b68qx63y.c-2.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
